[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
requests = "*"
flask = "*"
python-dotenv = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-smorest = "*"
marshmallow = "*"
flask-jwt-extended = "*"
passlib = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.13"
